

/* ---------- VARIABLES ---------- */

$body__clr: #1C233D;
$txt__clr: white;
$font: 'Space Grotesk', sans-serif;

/* ---------- @EXTEND ---------- */

%center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

%center__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

%btn{
    background: rgb(195,103,230);
    background: linear-gradient(90deg, rgba(195,103,230,0.8995799003195029) 35%, rgba(190,206,239,0) 100%); 
    padding: .5% 1.5%;
    border-radius: 10px;
    font-weight: bold;
}

%btn2{
    padding: 1% 4%;
    background-color: #30384D;
    border-radius: 10px;
}

%btn3{
    font-size: 2rem;
    border: solid white 1px;
    padding: 3% 7%;
    border-radius: 10px;
}

%align__li{
    padding: 0;
    @extend %center;
    justify-content: space-between;
}

%gradient{
    background: rgb(156,118,184);
    background: linear-gradient(0deg, rgba(156,118,184,0.08165272945115543) 0%, rgba(156,118,184,1) 100%);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    text-align: center;
}

%title{
    text-align: center;
    font-size: 3rem;
    font-weight: light;
}

// use ::before and add position relative, z-index 1 and transition to main + ::before:hover : tranforsm scale(X) : 1;

%animbtn{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgb(195,103,230);
    background: linear-gradient(90deg, rgba(195,103,230,0.8995799003195029) 35%, rgba(190,206,239,0) 100%);
    border-radius: 10px;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}