@import "../config/var";
@import "typo";
@import "../config/keyframes";

/* ---------- BODY ---------- */


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $body__clr;

    // DISCOVER

    .sec-1{
        @extend %center;
        justify-content: space-between;
        max-width: 88%;

        .title{
            width: 45%;

            h1{
                font-size: 7rem;
                margin-bottom: 0;
            }

            p{
                font-size: 1.8rem;
                width: 90%;
                margin-bottom: 8%;
            }

            .btn-discover{
                @extend %btn2;
                padding: 2% 10%;
                font-size: 2.2rem;
                position: relative;
                z-index: 1;
                transition: .3s;
            }

            .btn-discover:hover{
                transform: scale(1.1);
            }

            .btn-discover::before{
                @extend %animbtn;
            }

            .btn-discover:hover::before{
                transform: scaleX(1);
            }

            .figures{
                @extend %center;
                justify-content: space-between;
                width: 100%;
                text-align: center;
                margin-top: 5rem;

                .artworks h1,
                .auctions h1,
                .artists h1{
                    font-size: 4rem;
                }

                .artworks p,
                .auctions p,
                .artists p{
                    margin-bottom: 0;
                }
            }
            
        }


        .container-img{
            background-color: #30384D;
            @extend %center;
            padding: 3%;
            border-radius: 20px;
            margin: 0;
            margin-top: 10rem;

            .principal-nft{
                width: 40rem;
                border-radius: 15px;
            }

            .monkeys{
                @extend %center;
                justify-content: space-between;

                .rounded-nfts img{
                    width: 2.5rem;
                }   
            }

            .crypto{
                @extend %center;
                justify-content: space-between;
                text-align: start;

                p{
                    opacity: .7;
                }

                h1{
                    margin-top: 0;
                }
            }
        }

    }

    // SPONSORS

    .sec-2{
        padding: 10rem 0rem;
        max-width: 100%;
        @extend %center;
        justify-content: flex-end;

        img{
            width: 15rem;
            margin-right: 5rem;
        }
    }

    .sec-3{
        .gradient{
            @extend %gradient;
        }

        h1{
            @extend %title;
        }

        .categorie{
            @extend %align__li;
            width: 90%;
            margin-bottom: 5rem;

            a{
                @extend %btn2;
                transition: color 300ms ease-in-out;
                z-index: 1;
                position: relative;
            }

            a::before{
                @extend %animbtn;
            }

            a:hover::before{
                transform: scaleX(1);
            }

        }


// CONTAINER HOT DROPS

        .hot-drops{
            @extend %center;
            justify-content: space-around;
            margin-bottom: 10rem;

            .container-drop{
                background-color: #30384D;
                @extend %center;
                padding: 1.5% 3%;
                border-radius: 10px;
                margin: 0;

                .hot-drop-img{
                    width: 27rem;
                    border-radius: 15px;
                }

                .monkey{
                    @extend %center;
                    justify-content: space-between;
    
                    .rounded-profil img{
                        width: 3.5rem;
                    }   
                }

                .drop-crypto{
                    @extend %center;
                    justify-content: space-between;
                    text-align: start;


                    .drop-timer{
                        text-align: center;
                    }
    
                    p{
                        opacity: .7;
                    }
    
                    h1{
                        font-size: 1.3rem;
                        margin: 0;
                    }

                }
            }
        }

        .more{
            @extend %btn2;
            @extend %center;
            width: 5%;
            z-index: 1;
            transition: ease-in-out 300ms color;
            position: relative;
            transition: .3s;
        }

        .more:hover{
            transform: scale(1.1);
        }

        .more::before{
            @extend %animbtn;
        }

        .more:hover::before{
            transform: scaleX(1);
        }

    }

    // CREATE & SELL

    .sec-4{
        .gradient{
            @extend %gradient;
            font-size: 2rem;
            margin-top: 10rem;
        }

        h1{
            @extend %title;
            font-size: 4rem
        }

        .container-cs{
            @extend %center;
            justify-content: space-between;
            margin-top: 5rem;
            width: 85%;

            .create,
            .upload,
            .listing{
                text-align: center;
                padding: 5% 2%;
                background-color: #30384D;
                margin: 1%;
                border-radius: 10px;

                img{
                    width: 15rem;
                }

                h1{
                    font-size: 1.9rem;
                }

                p{
                    width: 75%;
                    margin: auto;
                    font-size: 1.3rem;
                }
            }
            
        }


        .container-btn{
            @extend %center;
            margin-top: 5rem;
            margin-bottom: 10rem;
            width: 30%;
            justify-content: space-between;

            .btn-create{
                @extend %btn2;
                font-size: 2rem;
                padding: 3% 7%;
                transition: .3s;
                z-index: 1;
                position: relative;
            }

            .btn-create:hover{
                transform: scale(1.1);
            }

            .btn-create::before{
                @extend %animbtn;
            }

            .btn-create:hover::before{
                transform: scaleX(1);
            }

            .btn-watch{
                @extend %btn3;
                transition: .3s;
                z-index: 1;
                position: relative;
            }

            .btn-watch:hover{
                transform: scale(1.1);
                color: black;
            }

            .btn-watch::before{
                @extend %animbtn;
                background: rgb(195,103,230);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 35%, rgba(190,206,239,0) 100%);
            }

            .btn-watch:hover::before{
                transform: scaleX(1);
            }
    
        }
        
    }

    // NFT CREATORS

    .sec-5{
        .gradient{
            @extend %gradient;
            font-size: 2rem;
        }

        h1{
            @extend %title;
            font-size: 4rem;
        }

        .wrapper-creators{
            @extend %center;
            justify-content: space-between;
            width: 90%;
            margin-bottom: 2rem;

            .container-creator{
                @extend %center;
                justify-content: space-between;
                background-color: #30384D;
                border-radius: 10px;
                width: 70%;
                margin: 1%;
                padding: 1% 2%;

                .container-details{
                    @extend %center;
                    justify-content: space-between;
                    width: 50%;
                    margin: 0;

                    img{
                        width: 6rem;
                    }

                    .details{

                        p:nth-child(1){
                            margin-bottom: 0;
                        }

                        p:nth-child(2){
                            margin-top: 1%;
                        }

                        
                    }
                }
            }

            i{
                color: white;
                cursor: pointer;
            }
        }


        .btn-watch{
            @extend %btn3;
            transition: .3s;
            z-index: 1;
            position: relative;
            @extend %center;
            margin-top: 10rem;
            margin-bottom: 10rem;
            width: 20%;
            padding: 1% 0;
        }

        .btn-watch:hover{
            transform: scale(1.1);
            color: black;
        }

        .btn-watch::before{
            @extend %animbtn;
            background: rgb(195,103,230);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 35%, rgba(190,206,239,0) 100%);
        }

        .btn-watch:hover::before{
            transform: scaleX(1);
        }
    }

    // JOIN OUR COMMUNITY

    .sec-6{
        background-color: #1E2B4B;
        @extend %center__col;
        width: 80%;
        height: 50vh;
        padding: 2% 5%;

        h1{
            font-size: 3rem;
            margin-bottom: 2%;
        }

        p{
            font-size: 1.7rem;
        }

        .discord{
            @extend %btn2;
            font-size: 2rem;
            border: solid 1px white;
            padding: 1% 4%;
            margin-top: 3rem;
            position: relative;
            z-index: 1;
            transition: .3s;
        }

        .discord::before{
            @extend %animbtn;
        }

        .discord:hover{
            transform: scale(1.1);
        }

        .discord:hover::before{
            transform: scaleX(1);
        }
    }
}
